# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/AcrylicEverywhere
/Backup/FullBackup
/Backup
/Build/x64/Debug/symbols
/Build/x64/Release/symbols
*.exp
*.pdb
*.yes
/Cache/AcrylicEverywhere/x64
/packages
/x64/Debug/microsoft/STL
